@model Appointer.Models.Users

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Users</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isJobOwner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isJobOwner)
            @Html.ValidationMessageFor(model => model.isJobOwner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isWorker)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isWorker)
            @Html.ValidationMessageFor(model => model.isWorker)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isAdmin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isAdmin)
            @Html.ValidationMessageFor(model => model.isAdmin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobId, "Jobs1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("JobId", String.Empty)
            @Html.ValidationMessageFor(model => model.JobId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
